[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "zh-CN"]
	path = _output/zh-CN
	url = git@qilove.work:qiclips/clips.qilove.store.git
	branch = pages
[submodule "en"]
	path = _output/en
	url = git@qilove.work:qiclips/en.git
